{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
        <div style="max-width: 400px;margin: auto; padding-top: 10%;">
            <form action="/search" method="post">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" id="search" name="search" placeholder="Search ISBN, title, or author" autofocus>
            </div>  
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>    
        </div>
        </ol>
    </p>
{% endblock %}